html {
	font-size: 20px;
}

.dark-primary-color    { background: #689F38; }
.default-primary-color { background: #8BC34A; }
.light-primary-color   { background: #DCEDC8; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #009688; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }


* {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;

}

body div {
	display: flex;
}

body {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	height: 100%;
	width: 100%;

	background-color: #FFFFFF;
}

.loadingContainer {
	height: 2rem;
	flex: 1 100%;
	flex-flow: row nowrap;
	align-items: center;
}

.paralellogram {
	height: 2rem;
	width: 2rem;
	background-color: #8BC34A;
	transform: skew(20deg);
	flex: 1 2rem auto;
	margin-left: 1rem;
}

.glow {
	box-shadow: 0 0 0 #8BC34A;
}

.glow:hover {
	transition: all ease-in-out 200ms;
	box-shadow: 0 0 1rem black;

}

.sidenav {
	flex: 1 2 100%;
	flex-flow: column nowrap;
}

.main-area {
	flex: 2 1 100%;
	flex-flow: row nowrap;
	align-items: flex-start;
}

.main-content {
	flex: 2 1 100%;
}

.header {
	padding: 0.2rem 0.2rem 0.2rem 2rem;
	flex: 0 8 auto;
	flex-flow: row nowrap;
	background-color: #00796B;
}

.headerContent {
	background-color: #00796B;

}

.padding02 {
	padding: 0.2rem;
}

@media all and (max-width: 500px) {
	[flex-sm-row] { flex-direction: row; }
	[flex-sm-col] { flex-direction: column; }
}
